* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  text-align: center;
}

div {
  background-color: azure;
  border: 2px solid #333;
  border-radius: 100%;
  font-size: 2em;
  line-height: 145px;
  width: 150px;
  height: 150px;
  margin: 0 auto 2em 0;
  text-align: center;
  position: relative;
}

/* ANIMACIJE */

@keyframes animation1 {
  from {
    left: 0;
  }

  to {
    left: 300px;
    background-color: darkolivegreen;
  }
}

div:first-of-type {
  /* animation-name: animation1;
  animation-duration: 5s;
  animation-timing-function: ease; */
  /* animation: animation1 2s linear; */
}

/* ANIMACIJA BROJ 2  */
@keyframes animation2 {
  0% {
    left: 0;
    transform: rotate(0deg);
  }

  50% {
    left: 400px;
    transform: rotate(180deg);
  }

  100% {
    left: 0;
    transform: rotate(0deg);
  }
}

div:nth-of-type(2) {
  /* animation: animation2 4s ease-in-out; */
}

/* ANIMACIJA BROJ 3  */
@keyframes animation3 {
  0% {
    left: 0;
    transform: rotate(0deg);
    background-color: azure;
  }

  50% {
    left: 400px;
    transform: rotate(360deg);
    background-color: rgb(171, 228, 228);
  }

  100% {
    left: 0;
    transform: rotate(0deg);
    background-color: azure;
  }
}

div:nth-of-type(3) {
  animation: animation3 4s ease-in-out 1s;
}