// Variables
$color1: #eee;
$color2: #333;
$color3: #800;
$font1: Tahoma, sans-serif;

@mixin theme-colors($light-theme: true) {
    @if $light-theme {
        background-color: $color1;
        color: $color2;
    }

    @else {
        background-color: $color2;
        color: $color1;
    }
}

body {
    font-family: $font1;
}

@mixin spacing($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

header,
footer,
article {
    @include theme-colors(false);
    @include spacing(1em, 2em);
}

$value: 18px;

.class-1 {
    width: 500px;
    height: 500px;
    background: olive;

    margin-top: $value + 20px;
    margin-bottom: $value * 2;
    margin-left: $value / 6;
    margin-right: $value - 5;

    // Modulo -> kao rezultat vratit će vam ostatak vrijednosti nakon dijeljenja

    padding: $value % 5; // Vrijednost je 3 -> 18 % 3 = 15 + 3
}