* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}

.flex-container>*,
section {
    padding: 10px;
}

header,
footer {
    background: #999;
    flex: 0 100%;
    height: 10vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex: 0 100%;
    justify-content: space-between;
    height: 80vh;
}

section {
    background: #eee;
    flex: 0 24%;
}