* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 1px dashed #666;
    padding: 1em;
}

.wrapper div {
    background: #eee;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
    width: 150px;
    margin: 1em;
}

.flex-container {
    display: flex;
}

/* flex-grow, određuje za koliko će se dimenzije pojedinog elementa (flex itema), povećati u odnosu na NJEGOVU inicijalnu veličinu PO GLAVNOJ OSI (x). Zadana vrijednost jest 0, negativne vrijednosti NISU dozvoljene. Na primjer, da stavimo flex-grow: 2, dijete koje smo targetirali će biti dvaput uvećano u odnosu na drugu djecu - SAMO AKO MOŽE (ako ima slobodnog prostora).  */

.flex-item:nth-child(3) {
    background-color: antiquewhite;
    flex-grow: 2;
}