* {
    box-sizing: border-box;
    margin: 1em;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 1px dashed #666;
    padding: 1em;
}

.wrapper div {
    background-color: azure;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
    margin: 1em;
    width: 30%;
}

.flex-container {
    /* Nema fleksa bez flex-a ;) */
    display: flex;

    /* Definira kako će se content (FLEX ITEMS) ponašati unutar flex containera kada dođu do kraja ekrana (containera npr). Ako ne stanu u jedan red, i kažemo im "WRAP" doslovno će se wrapati jedan ispod drugog. Ako kažemo NOWRAP - a ništa, onda nema wrapa :D 
    
    Ako kažemo wrap-reverse, onda budu wrapani ali OBRNUTIM REDOSLJEDOM. */
    flex-wrap: wrap;
}