* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
  }
  h1 {
    text-align: center;
  }

  section{border:1px solid #CCC;
  margin:auto;
  width:400px;}

  div {
    background-color: #f93;
    border: 1px solid #333;
    font-size:2em;
    line-height:150px;
    width: 300px;
    height: 150px;
    margin: 4em auto;
    text-align:center;
  }
