* {
    box-sizing: border-box;
    margin: 1em;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 1px dashed #666;
    padding: 1em;
}

.wrapper div {
    background-color: azure;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
    margin: 1em;
    width: 150px;
}

.flex-container {
    display: flex;
    /* Ako želite napisati i FLEX DIRECTION i FLEX WRAP unutar jedne sintakse,
    koristiti ćete svojstvo flex-flow. 
    
    Sjetite se: background svojstvo u koje utrpate sve živo, e pa ovo je isto samo što je za flex i za 2 stvari ;) */
    flex-flow: row wrap-reverse;
}

