.upcoming {
    position: fixed;
    bottom: 0;
    left: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

#trending-hidden-overflow {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.scroll-tray-image {
    max-width: 150px;
    border-radius: 0rem;
    height: 200px;
}

h3.trending {
    color: white;
    text-align: center;
    font-weight: 400;
    margin-top: 80px;
    font-size: 3em;
}

p.trending {
    text-align: center;
    color: white;
    font-weight: 300;
}

.scroll-tray {
    animation: scroll-tray-hero 70s linear infinite;
    height: 100%;
    white-space: nowrap;
    margin-bottom: 7px;
}

.scroll-tray {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-tray::-webkit-scrollbar {
    display: none;
}

.scroll-tray.no-animation {
    padding-left: 20px;
    padding-right: 20px;
    animation: none !important;
    height: 100%;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll-tray div {
    display: inline-block;
    margin-right: 10px;
}


.scroll-tray:first-child {
    animation: scroll-tray-hero 180s linear infinite;
}

.scroll-tray:last-child {
    animation: scroll-tray-hero 120s linear infinite;
}

.scroll-tray.slow:first-child {
    animation: scroll-tray-hero 160s linear infinite;
}

.scroll-tray.slow:last-child {
    animation: scroll-tray-hero 70s linear infinite;
}

@keyframes scroll-tray-hero {
    0% {
        transform: translateX(0);
    }

    99.99% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

.link {
    display: block;
    margin: 2rem 0 !important;
}

.no-image {
    padding-left: 0px !important;
}

.no-image img {
    display: none !important;
}

.no-image>div {
    padding-left: 0px !important;
    margin: 0px !important;
}

.no-text p {
    display: none !important;
}

.no-margin {
    margin-bottom: 0px !important;
}

.separator {
    margin-left: 8px;
    margin-right: 8px;
    color: white;
}