body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}

p {
    background-color: aliceblue;
    border: 1px solid #666;
    box-sizing: border-box;
    display: inline-block;
    width: 33.33%;
    padding: 1em;
    margin-left: -4px;
    text-align: justify;
}